<div th:fragment="accountTable" class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tài khoản</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách tài khoản</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>

                    <tr>
                        <th>STK</th>
                        <th>Loại TK</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>STK</th>
                        <th>Loại TK</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    <tr th:each="account : ${accounts}">
                        <td th:text="${account.accountNumber}"></td>
                        <td th:text="${account.accountType}"></td>
                        <td th:text="${account.status}"></td>
                        <td>
                            <button class="btn btn-info" th:attr="onclick='viewTransactionHistory(' + ${account.accountNumber} + ')'" >
                                Đổi PIN
                            </button>

                            <button class="btn btn-info" th:attr="onclick='viewAddMoney(' + ${account.accountNumber} + ')'" >
                                x
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transactionModalLabel">Lịch sử giao dịch</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Danh sách lịch sử giao dịch -->
                <ul class="list-group">
                    <li class="list-group-item">Giao dịch 1: $100</li>
                    <li class="list-group-item">Giao dịch 2: $250</li>
                    <li class="list-group-item">Giao dịch 3: $300</li>
                    <li class="list-group-item">Giao dịch 4: $400</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    function viewTransactionHistory(customerId) {

        alert("Show Transaction modal")
    }

    function viewAddMoney(customerId) {

        alert("Show Add money modal")
    }
</script>