<div th:fragment="customerTable" class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Khách hàng</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách khách hàng</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>

                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                    </tr>
                    </tfoot>
                    <tbody>

                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.userId}">1</td>
                        <td th:text="${customer.name}"></td>
                        <td th:text="${customer.phone}"></td>
                        <td th:text="${customer.email}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>